{# Warunki ponownego wykorzystywania informacji  #}

<h2>Warunki ponownego wykorzystywania informacji:</h2>

{% if h.dp_package_has_license_restrictions(pkg_dict) %}
<span>{{_("This dataset is considered public data and can be used under following restrictions") }}:</span>
<ul>
  {% if pkg_dict.license_condition_source or pkg_dict.license_condition_timestamp %}
    <li>{{ _('Odbiorca powinien poinformować o źródle pozyskania informacji') }}</li>
    <li>{{ _('Odbiorca powinien poinformować o czasie wytworzenia i pozyskania informacji od dostawcy') }}</li>
  {% endif %}

  {% if pkg_dict.license_condition_original %}
    <li>{{ _('Odbiorca powinien zawrzeć kopię informacji w pierwotnie pozyskanej formie udostępniając przetworzoną informację') }}
    </li>
  {% endif %}

  {% if pkg_dict.license_condition_modification %}
    <li>{{ _('Odbiorca powinien poinformować o przetworzeniu informacji, gdy ją jakkolwiek modyfikuje') }}</li>
  {% endif %}

  {% if pkg_dict.license_condition_responsibilities %}
    <li>{{ pkg_dict.license_condition_responsibilities }}</li>
  {% endif %}
</ul>

{%- else -%}

<span>{{_("This dataset is considered public data and can be used without any restrictions") }}.</span>

{%- endif %}