{% ckan_extends %}

{% block package_basic_fields_custom %}  
  <div class="control-group">
    <label class="control-label" for="field-country_code">{{ _("Category") }}</label>
    <div class="controls">
      <select id="field-country_code" name="country_code" data-module="autocomplete">
        {% for category in h.categories()  %}
          <option value="{{ category }}" {% if category in data.get('category', []) %}selected="selected"{% endif %}>{{ category }}</option>
        {% endfor %}
      </select>
    </div>
  </div>  
{% endblock %}