{% ckan_extends %}

{% block package_basic_fields_custom %}
    <div class="control-group">
        <label class="control-label" for="field-category">{{ _("Category") }}</label>

        <div class="controls">
            <select id="field-category" name="category">
                {% for category in h.dp_categories() %}
                    <option value="{{ category.name }}"
                            {% if category.name in (data.get('category') or []) %}selected="selected"{% endif %}>{{ category.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    {% block package_basic_fields_license %}
        {# License is fixed to Open (Public Domain) #}
    {% endblock %}

{% endblock %}