{% ckan_extends %}

{% block package_metadata_fields %}
  {# Override #}
  {% block package_metadata_fields_url %}
    {{ form.input('url', label=_('Source'), id='field-url', placeholder=_('http://example.com/dataset.json'), value=data.url, error=errors.url, classes=['control-medium']) }}
  {% endblock %}

  {#  TODO create macro from this autocomplete, options as select #}
  <div class="control-group">
    <label class="control-label" for="field-update_frequency">{{ _("Update frequency") }}</label>

    <div class="controls">
      <select id="field-update_frequency" name="update_frequency" data-module="autocomplete">
        {% for freq in h.dp_update_frequencies() %}
          <option value="{{ freq }}"
                  {% if freq in data.get('update_frequency', []) %}selected="selected"{% endif %}>{{ freq }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {{ form.select('update_frequency', label=_('Update frequency'), id='field-update_frequency', error=errors.update_frequency, options=h.dp_update_frequencies_options()) }}

  <div class="panel panel-default">
    ! --- TODO panel
    {#  TODO translate #}
    <h3 class="panel-title">Określenie warunków ponownego wykorzystywania</h3>

    <div class="panel-body">
      Informacje publiczne są udostępniane w celu ich ponownego wykorzystywania bez ograniczeń warunkami i
      bezpłatnie.
      Istnieją od tej zasady wymienione poniżej wyjątki, jednak zachęcamy, aby ich nie stosować jeżeli nie
      przemawiają za tym mocne racje.

      {{ form.checkbox('license_condition_source', label=_('Odbiorca powinien poinformować o źródle pozyskania informacji'), id='field-license_condition_source', error=errors.license_condition_source, value='true', checked=data.license_condition_source) }}
      {{ form.checkbox('license_condition_timestamp', label=_('Odbiorca powinien poinformować o czasie wytworzenia i pozyskania informacji od dostawcy'), id='field-license_condition_timestamp', error=errors.license_condition_timestamp, value='true', checked=data.license_condition_timestamp) }}
      {{ form.checkbox('license_condition_original', label=_('Odbiorca powinien zawrzeć kopię informacji w pierwotnie pozyskanej formie udostępniając przetworzoną informację'), id='field-license_condition_original', error=errors.license_condition_original, value='true', checked=data.license_condition_original) }}
      {{ form.checkbox('license_condition_modification', label=_('Odbiorca powinien poinformować o przetworzeniu informacji, gdy ją jakkolwiek modyfikuje'), id='field-license_condition_modification', error=errors.license_condition_modification, value='true', checked=data.license_condition_modification) }}
      {{ form.textarea('license_condition_responsibilities', label=_('Zakres odpowiedzialności dostawcy za przekazywane informacje'), id='field-license_condition_responsibilities', value=data.license_condition_responsibilities, error=errors.license_condition_responsibilities) }}
    </div>
    TODO panel --- !
  </div>



  {% block dataset_fields %}
  {% endblock %}

{% endblock %}
  