{% block articles_list %}
  <div class="module-content articles">
    <h2>{{ _('Articles') }}</h2>

    <ul class="row">
      {% for a in h.dp_recent_articles() %}
        <li class="article span3">
          <h3><a href="/article/{{ a.name }}" target="_self">{{ a.title }}</a></h3>
          <small>{{ h.render_datetime(h.date_str_to_datetime(a.metadata_created)) }}</small>
          <p>{{ h.dp_shorten_article(a.notes, 200) }}</p>
          <a href="/article/{{ a.name }}" target="_self" class="btn btn-primary">{{ _('read more') }} 
              <span class="wcag_hide">{{ _('article title') }} {{ a.title }}</span>
          </a>
        </li>
      {% endfor %}
      <li class="article box span3">
        <a href="/article/" target="_self" class="btn btn-primary">
          <h3>
            <i class="icon icon-list"></i>
            <span>{{ _('Show all articles') }}</span>
          </h3>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}