{% set truncate = truncate or 180 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}

<li class="dataset-item-container">
	<div class="dataset-item">
	  {% block package_item_content %}
	    <div class="dataset-content">
	      <h3 class="dataset-heading">
	        {% if package.private %}
	          <span class="dataset-private label label-inverse">
	            <i class="icon-lock"></i>
	            {{ _('Draft') }}
	          </span>
	        {% endif %}
	        {{ h.link_to(title, h.url_for(package.type + '_read', id=package.name)) }}
	        {% if package.get('state', '').startswith('draft') %}
	          <span class="label label-info">{{ _('Draft') }}</span>
	        {% elif package.get('state', '').startswith('deleted') %}
	          <span class="label label-important">{{ _('Deleted') }}</span>
	        {% endif %}
	        {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
	      </h3>
	      {% if banner %}
	        <span class="banner">{{ _('Popular') }}</span>
	      {% endif %}
	
	      {% if notes %}
	        <div class="notes">{{ notes|urlize }}</div>
	      {% endif %}
	      
	      <div class="dataset-tracking">
		    <span title="{{ _('Views count') }}" class="view">{{ package.tracking_summary.total }}</span>
		    {# <span title="{{ _('Downloads count') }}" class="download">{{ package.tracking_summary.total }}</span> #}
	      </div>
	      
	      <section class="additional-info">
			  <dl class="dl-horizontal list">
			
			  {% block package_additional_info %}
			    
			    {% if package.organization.title %}
			      <dt class="dataset-label">{{ _("Organization") }}</dt>
			      <dd class="dataset-details"><a
			              href="{{ h.url_for('organization', id=package.organization.name) }}">{{ package.organization.title }}</a>
			      </dd>
			    {% endif %}
			    
			    {% if package.category %}
			      <dt class="dataset-label">{{ _("Category") }}</dt>
			      <dd class="dataset-details"><a
			              href="{{ h.url_for('group_read', id=package.category) }}">{{ h.dp_translate_facet(package.category, 'groups') }}</a>
			      </dd>
			    {% endif %}
					
			    {% if package.metadata_modified %}
			        <dt class="dataset-label">{{ _("Last Updated") }}</dt>
			        <dd class="dataset-details">{{ h.render_datetime(package.metadata_modified, with_hours=True) }}</dd>
			    {% endif %}
					    
			  {% endblock %}
			  </dl>
		  </section>
		  
		  
		  
		  {% if package.resources %}
		  <section class="resources">
			  {% block resource_list %}
			      <ul class="resource-list">
			        {% block resource_list_inner %}
			          {% for resource in package.resources %}
			            {% snippet 'home/snippets/resource_item.html', pkg=package, res=resource %}
			          {% endfor %}
			        {% endblock %}
			      </ul>
			  {% endblock %}
		  </section>
		  {% endif %}
	
	    </div>
	    
	  {% endblock %}
	</div>
</li>