{% set current_url = request.environ.CKAN_CURRENT_URL %}
{% set current_lang = request.environ.CKAN_LANG %}
<ul class="nav nav-pills">
  {% for locale in h.get_available_locales() %}
    <li class="{% if locale== current_lang %}active{% endif %}">
      <a href="{% url_for current_url, locale=locale %}" target="_self">
        {{ locale.language | upper }}
        <span class="visibility-hidden"> - {{ locale.display_name or locale.english_name }}</span>
         </a>
    </li>
  {% endfor %}
</ul>