{% set truncate = truncate or 180 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}

<li class="{{ item_class or "dataset-item" }} {{package.type}}{% if package.image_url %} image{% endif %} {{package.status}}">
  {% block package_item_content %}
    {% if package.image_url %}
    <div class="img_container">
	    <a href="{{ h.url_for(package.type + '_read', id=package.name) }}"><img src="/uploads/package/{{ package.image_url }}.3.jpg" /></a>
    </div>
    {% endif %}
    <div class="dataset-content">
      <h3 class="dataset-heading">
        {% if package.private %}
          <span class="dataset-private label label-inverse">
            <i class="icon-lock"></i>
            {{ _('Draft') }}
          </span>
        {% endif %}
        {{ h.link_to(title, h.url_for(package.type + '_read', id=package.name)) }}
        {% if package.get('state', '').startswith('draft') %}
          <span class="label label-info">{{ _('Draft') }}</span>
        {% elif package.get('state', '').startswith('deleted') %}
          <span class="label label-important">{{ _('Deleted') }}</span>
        {% endif %}
        {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
      </h3>
      {% if banner %}
        <span class="banner">{{ _('Popular') }}</span>
      {% endif %}

      {% if package.type == 'article' %}
        <small>{{ h.render_datetime(h.date_str_to_datetime(package.metadata_created)) }}</small>
        <p>{{ h.dp_shorten_article(notes, 200) }}</p>
      {% elif package.type == 'application' %}
        {% if package.status == 'unverified' %}
          <small class="status unverified">{{ _('This application is unverified') }}</small>
        {% endif %}
        <small>{{ h.render_datetime(h.date_str_to_datetime(package.date)) }}</small>
        <p>{{ h.dp_shorten_article(notes, 200) }}</p>
      {% else %}
        {% if notes %}
          <div class="notes">{{ notes|urlize }}</div>
        {% endif %}
      {% endif %}
    </div>
    
    {% if package.type == 'dataset' %}
	    <div class="dataset-meta">
	    {% if package.resources and not hide_resources %}
	      <ul class="dataset-resources unstyled">
	        {% for resource in h.dict_list_reduce(package.resources, 'format') %}
	          <li>
	            {{ resource }}
	          </li>
	        {% endfor %}
	      </ul>
	    {% endif %}
	    <div class="dataset-tracking">
		    {% if package.tracking_summary.total %}<span title="{{ _('Views count') }}" class="view">{{ package.tracking_summary.total }}</span>{% endif %}
		    {% if package.resources_tracking_summary.total %}<span title="{{ _('Downloads count') }}" class="download">{{ package.resources_tracking_summary.total }}</span>{% endif %}
	    </div>
	    </div>
	    
    {% endif %}
    
  {% endblock %}
</li>