{% ckan_extends %}

{% block styles %}
  {{ super() }}

  {% resource 'dane_publiczne/newdataset.css' %}
{% endblock %}

{% block wrapper_class %} newdataset{% endblock %}

{% block content_action %}
  {% link_for _('View dataset'), controller='package', action='read', id=pkg.name, class_='btn', icon='eye-open' %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_edit', _('Edit metadata'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_resources', _('Resources'), id=pkg.name) }}
{% endblock %}

{% block secondary_content %}
  {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What are datasets?') }}</h2>
      <div class="module-content">
        <p>
          {% trans %}
          A CKAN Dataset is a collection of data resources (such as files),
          together with a description and other information, at a fixed URL.
          Datasets are what users see when searching for data.
          {% endtrans %}
        </p>
      </div>
    </section>
  {% endblock %}
{% endblock %}
