{% extends "article/read_base.html" %}

{% set pkg = c.pkg_dict %}

{% block styles %}
  {{ super() }}

  {% resource 'dane_publiczne/singleitem.css' %}
{% endblock %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="icon-lock"></i>
        {{ _('Private') }}
      </span>
    {% endif %}
        
    {% if pkg.status == 'unverified' %}
        <div class="alert alert-danger margin-top-10">
        {{ _('This application is unverified') }}
        </div>
    {% endif %}
    
    {# TODO does private implies state=draft? #}
    <h1>{% block page_heading %}{{ pkg.title or pkg.name }}{% if pkg.state.startswith('draft') %}[{{ _('Draft') }}]
    {% endif %}{% endblock %}</h1>

    {% block package_notes %}
      {% if pkg.date %}<small class="metadata">{{ h.render_datetime(h.date_str_to_datetime(pkg.date)) }}</small>{% endif %}
      {% if pkg.app_url %}<p class="app_url">{{ _('Application address') }}: <a href="{{ pkg.app_url }}" target="_blank">{{ pkg.app_url }}</a></p>{% endif %}
      <div class="notes_container">
	      {% if c.pkg_notes_formatted %}
	        <div class="notes embedded-content">
	          {% if pkg.image_url %}
		          <img align="right" class="article-image" src="/uploads/package/{{ pkg.image_url }}.1.jpg" />
		      {% endif %}
	          {{ h.render_markdown(pkg.notes, allow_html=True) }}
	        </div>
	      {% endif %}
      </div>
    {% endblock %}

    {% block package_license %}{% endblock %}
  {% endblock %}
  
  {% block datasets %}
    {% if c.datasets %}
      <section class="app_dataset">
	    <h2>{{ _('Related datasets') }}</h2>
	    {% for dataset in c.datasets %}
        {{ h.snippet('home/snippets/package_item.html', package = dataset) }}
        {% endfor %}
	  </section>
    {% endif %}
  {% endblock %}
  
  {% block package_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
  {% endblock %}
  
{% endblock %}
