.list {
    background: #ffffff;
    margin-top: 24px;
    margin-bottom: 0;
    padding: 0;
}

.list .dataset-search {
    padding: 15px 0;
    background-color: #157abe;
}

.search-form {
    margin: 0;
    padding: 0;
    border: none;
}

.search-form .search-input {
    margin-bottom: 0;
}

.toolbar {
    margin: 0;
    padding: 0;
}

.toolbar .breadcrumb {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 34px;
}

.breadcrumb .home .icon-home {
    font-size: 16px;
}

.toolbar .breadcrumb li,
.toolbar .breadcrumb a {
    color: #060300;
}

.wrapper {
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    background: #ffffff;
}

.wrapper .dataset-result,
.wrapper .dataset-filters {
    margin-left: 0;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}

.wrapper .dataset-filters {
    font-size: 14px;
    font-weight: normal;
    color: #1d1d1d;
    border-right: 4px solid #d1d9e2;
}

.wrapper .dataset-filters h2 {
    font-size: 20px;
    font-weight: bold;
    color: #1d1d1d;
    padding: 50px 0 0;
    margin: 0;
}

.wrapper .dataset-filters .module-heading {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: #1d1d1d;
    border-bottom-width: 0;
    padding: 20px 0;
    margin: 0;
}

.wrapper .dataset-filters .read-more,
.wrapper .dataset-filters .read-less {
    position: absolute;
    top: 50%;
    right: 10px;

    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.wrapper .dataset-filters .read-more:before,
.wrapper .dataset-filters .read-less:before {
    font-size: 18px;
    font-weight: normal;
    color: #b2b2b2;
}

.wrapper .dataset-filters .read-more:before {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.wrapper .dataset-filters .read-less:before {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.wrapper .dataset-filters .nav-item,
.wrapper .dataset-filters .nav-aside li {
    padding: 0;
}

.wrapper .dataset-filters .nav-item > a,
.wrapper .dataset-filters .nav-aside li a {
    margin: 0 -4px 0 0;
}

.wrapper .dataset-filters .nav-item > a:hover,
.wrapper .dataset-filters .nav-aside li a:hover {
    background: #d1d9e2;
    color: #157abe;
}

.wrapper .dataset-filters .nav-item.active > a,
.wrapper .dataset-filters .nav-aside li.active a {
    background-color: #157abe;
    font-weight: bold;
    color: #ffffff;
}

.wrapper .dataset-filters .nav-item.active > a:before,
.wrapper .dataset-filters .nav-aside li.active a:before {
    display: none;
}

.wrapper .dataset-filters .nav-item > a:hover:after,
.wrapper .dataset-filters .nav-aside li a:hover:after {
    font-family: 'ckan';
    font-weight: normal;
    color: #157abe;
    content: "\e900";
    background: none;
}

.wrapper .dataset-filters .nav-item.active > a:after,
.wrapper .dataset-filters .nav-item.active > a:hover:after,
.wrapper .dataset-filters .nav-aside li.active a:after,
.wrapper .dataset-filters .nav-aside li.active a:hover:after {
    font-family: 'ckan';
    font-weight: normal;
    color: #ffffff;
    content: "\e901";
    background: none;
}

.wrapper .dataset-result .module {
    float: left;
    width: 100%;
    display: block;
}

.wrapper .dataset-result .results-total {
    font-size: 30px;
    font-weight: 300;
    color: #157abe;
    margin-top: 5px;
}

.wrapper .dataset-result .control-order-by {
    margin-top: 10px;
}

.wrapper .dataset-result .control-order-by label {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.wrapper .dataset-result .control-order-by select {
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    background: #efefef;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.wrapper .dataset-result .page_primary_action {
    margin-top: 15px;
    margin-bottom: 0;
}

.wrapper .dataset-result .dataset-list {
    margin-top: 35px;
}

.wrapper .dataset-result .dataset-list li {
    border: none;
    border-left: 4px solid #4b77be;
    padding: 20px;
    color: #000000;
    line-height: 1.2em;
}

.wrapper .dataset-result .dataset-list .dataset-content h3,
.wrapper .dataset-result .dataset-list .dataset-content h3 a {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2em;
    color: #157abe;
}

.wrapper .dataset-result .dataset-list .dataset-content .notes {
    font-size: 14px;
    font-weight: normal;
}