/* =====================================================
   Font-face
   ===================================================== */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/open-sans/DXI1ORHCpsQm3Vp6mXoaTRUOjZSKWg4xBWp_C_qQx0o.woff2) format('woff2'), url(/fonts/open-sans/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/fonts/open-sans/u-WUoqrET9fUeobQW7jkRVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(/fonts/open-sans/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/fonts/open-sans/MTP_ySUJH_bn48VBG8sNShUOjZSKWg4xBWp_C_qQx0o.woff2) format('woff2'), url(/fonts/open-sans/MTP_ySUJH_bn48VBG8sNSha1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/open-sans/k3k702ZOKiLJc3WVjuplzBUOjZSKWg4xBWp_C_qQx0o.woff2) format('woff2'), url(/fonts/open-sans/k3k702ZOKiLJc3WVjuplzBa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(/fonts/open-sans/PRmiXeptR36kaC0GEAetxo05NJhCxBV64hQBJiatqx0.woff2) format('woff2'), url(/fonts/open-sans/PRmiXeptR36kaC0GEAetxrsuoFAk0leveMLeqYtnfAY.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/fonts/open-sans/xjAJXh38I15wypJXxuGMBqg5eI2G47JWe0-AuFtD150.woff2) format('woff2'), url(/fonts/open-sans/xjAJXh38I15wypJXxuGMBtIh4imgI8P11RFo6YPCPC0.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(/fonts/open-sans/PRmiXeptR36kaC0GEAetxt5wBDjbAC_0C3a56xIGvxo.woff2) format('woff2'), url(/fonts/open-sans/PRmiXeptR36kaC0GEAetxmWeb5PoA5ztb49yLyUzH1A.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/fonts/open-sans/PRmiXeptR36kaC0GEAetxqsA81DAeuqoeYxDcSOJPMY.woff2) format('woff2'), url(/fonts/open-sans/PRmiXeptR36kaC0GEAetxoUt79146ZFaIJxILcpzmhI.woff) format('woff');
}

/* =====================================================
   The general setup of the site
   ===================================================== */

body {
    background: #ffffff;
    border-top: 4px solid #539ecf;
    font-family: 'Open Sans', Arial, sans-serif;
}

/* =====================================================
   Debug
   ===================================================== */

.masthead .debug {
    color: rgba(0, 0, 0, .5);
}

/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
    background: #ffffff;
    color: #24485f;
    margin-top: 6px;
}

.account-masthead .account ul li {
    border-left-color: #ffffff;
}

.account-masthead .account ul li a {
    font-size: 12px;
    font-weight: 600;
}

.account-masthead .account ul li a,
.account-masthead .account ul li a:hover {
    color: #24485f;
    background: none;
}

/* ====================================
   The header at the top of the site
   ==================================== */

.masthead {
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    margin-top: 3px;
}

.masthead a {
    color: #000000;
}

.masthead input[type="text"] {
    border-color: #bbbab8;
}

.masthead .header-image {
    margin-top: 4px;
}

.masthead .navigation,
.masthead .section.site-language {
    margin-top: 5px;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
    background: none;
    border: 0;
    font-weight: normal;
}

.masthead .site-search {
    margin: 5px 8px 2px 0;
}

.masthead .site-search input {
    padding: 6px 10px;
    font-size: 16px;
    font-weight: normal;
}

.masthead .section.site-language {
    margin-left: 150px;
}

.masthead .section.site-language ul li a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 8px 6px;
}

.nav-pills > li > a {
    border: 0;
    font-size: 16px;
    font-weight: normal;
}

/* ===========================================
   The content in the middle of the front page
   =========================================== */

.box {
    box-shadow: none;
}

.hero {
    background: none;
}

.hero .box {
    border: none;
}

/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer {
    background: #1d1d1d;
    color: #ffffff;
    padding: 70px 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.site-footer a {
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
}

.site-footer a:hover,
.site-footer a:focus {
    text-decoration: none;
    color: #bebebe;
}

.site-footer .attribution h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1em;
    color: #ffffff;
}

.site-footer .attribution p,
.site-footer .attribution .btn-link {
    font-size: 14px;
    font-weight: normal;
    color: #bebebe;
}