/* =====================================================
   Font-face
   ===================================================== */

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 100;
    src: url(/fonts/proxima-nova/ProximaNova-Thin.eot);
    src: url(/fonts/proxima-nova/ProximaNova-Thin.eot?#iefix) format('embedded-opentype'),
    url(/fonts/proxima-nova/ProximaNova-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 300;
    src: url(/fonts/proxima-nova/ProximaNova-Light.eot);
    src: url(/fonts/proxima-nova/ProximaNova-Light.eot?#iefix) format('embedded-opentype'),
    url(/fonts/proxima-nova/ProximaNova-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    src: url(/fonts/proxima-nova/ProximaNova-Reg.eot);
    src: url(/fonts/proxima-nova/ProximaNova-Reg.eot?#iefix) format('embedded-opentype'),
    url(/fonts/proxima-nova/ProximaNova-Reg.ttf) format('truetype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    src: url(/fonts/proxima-nova/ProximaNova-Sbold.eot);
    src: url(/fonts/proxima-nova/ProximaNova-Sbold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/proxima-nova/ProximaNova-Sbold.ttf) format('truetype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    src: url(/fonts/proxima-nova/ProximaNova-Bold.eot);
    src: url(/fonts/proxima-nova/ProximaNova-Bold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/proxima-nova/ProximaNova-Bold.ttf) format('truetype');
}

/* =====================================================
   The general setup of the site
   ===================================================== */

body {
    background: url(/dane.png) top center no-repeat #ffffff;
    /*background: #ffffff;*/
    border-top: 4px solid #539ecf;
    font-family: 'Proxima Nova', Arial, sans-serif;
}

/* =====================================================
   Debug
   ===================================================== */

.masthead .debug {
    color: rgba(0, 0, 0, .5);
}

/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
    background: #ffffff;
    color: #24485f;
    margin-top: 6px;
}

.account-masthead .account ul li {
    border-left-color: #ffffff;
}

.account-masthead .account ul li a {
    font-size: 12px;
    font-weight: 600;
}

.account-masthead .account ul li a,
.account-masthead .account ul li a:hover {
    color: #24485f;
    background: none;
}

/* ====================================
   The header at the top of the site
   ==================================== */

.masthead {
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    margin-top: 3px;
}

.masthead a {
    color: #000000;
}

.masthead input[type="text"] {
    border-color: #bbbab8;
}

.masthead .header-image {
    margin-top: 4px;
}

.masthead .navigation {
    margin-top: 5px;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
    background: none;
    border: 0;
    font-weight: normal;
}

.masthead .site-search {
    margin: 5px 8px 2px 0;
}

.masthead .site-search input {
    padding: 6px 10px;
    font-size: 16px;
    font-weight: normal;
}

.nav-pills > li > a {
    border: 0;
    font-size: 16px;
    font-weight: normal;
}

/* ===========================================
   The content in the middle of the front page
   =========================================== */

.box {
    box-shadow: none;
}

.hero {
    background: none;
}

.hero .box {
    border: none;
}

/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer {
    background: #1d1d1d;
    color: #ffffff;
    padding: 70px 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.site-footer a {
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
}

.site-footer a:hover,
.site-footer a:focus {
    text-decoration: none;
    color: #bebebe;
}

.site-footer .attribution h2 {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}

.site-footer .attribution p,
.site-footer .attribution .btn-link {
    font-size: 14px;
    font-weight: normal;
    color: #bebebe;
}