/* =====================================================
   The general setup of the site
   ===================================================== */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background: url('/template.png') top center no-repeat #ffffff;
    /*background: #ffffff;*/
    border-top: 4px solid #539ecf;
    font-family: 'Montserrat', sans-serif;
}

/* =====================================================
   Debug
   ===================================================== */

.masthead .debug {
    color: rgba(0, 0, 0, .5);
}


/* =====================================================
   The "account masthead" bar across the top of the site
   ===================================================== */

.account-masthead {
    background: #ffffff;
    color: #24485f;
    margin-top: 6px;
}

.account-masthead .account ul li {
    border-left-color: #ffffff;
}

.account-masthead .account ul li a {
    font-size: 12px;
}

.account-masthead .account ul li a,
.account-masthead .account ul li a:hover {
    color: #24485f;
    background: none;
}

/* ====================================
   The header at the top of the site
   ==================================== */

.masthead {
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    margin-top: 3px;
}

.masthead a {
    color: #000000;
}

.masthead input[type="text"] {
    border-color: #bbbab8;
}

.masthead .header-image {
    margin-top: 4px;
}

.masthead .navigation {
    margin-top: 5px;
}

.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a {
    background: none;
    border: 0;
    font-weight: normal;
}

.masthead .site-search {
    margin: 5px 8px 2px 0;
}

.masthead .site-search input {
    padding: 6px 10px;
    font-size: 16px;
    font-weight: normal;
}

.nav-pills > li > a {
    border: 0;
    font-size: 16px;
    font-weight: normal;
}

/* ===========================================
   The content in the middle of the front page
   =========================================== */

.box {
    box-shadow: none;
}

.hero {
    background: none;
}

.hero .box {
    border: none;
}

/* ====================================
   The footer at the bottom of the site
   ==================================== */

.site-footer {
    background: #1d1d1d;
    color: #ffffff;
}