.wrapper {
    margin: 0;
}

.singleresource .module-resource {
    border-bottom: none;
}

.singleresource .module-content {
    padding: 0;
}

.singleresource .module-content p {
    margin-bottom: 2px;
}

.singleresource .dataset-info,
.singleresource .dataset-result {
    display: none;
}

.singleresource h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    line-height: 1.2em;
    margin-bottom: 12px;
}

.singleresource .qa-ratings {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    margin-bottom: 30px;
}

.singleresource .ellipsis {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
}

.singleresource .ellipsis a {
    color: #157abe;
}

.singleresource .notes {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
}

.singleresource .notes ul,
.singleresource .notes ol {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 50px;
}

.singleresource .notes ul li,
.singleresource .notes ol li {
    padding-left: 18px;
}

.singleresource .nav {
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0;
}

.singleresource .ckanext-datapreview {
    margin-top: 0;
    padding-top: 10px;
}

.singleresource .resource-view {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .wrapper {
        margin: 0 -20px;
    }
}