{% block articles_list %}
    <div class="module-content articles">
        <h2>{{ _('Articles') }}</h2>

        <div class="article span3">
            <h3><a href="#" target="_self">Lorem ipsum dolor</a></h3>

            <p>Lorem ipsum dolor sit amet enim. Etiam
                ullamcorper. Suspendisse a pellentesque
                dui, non felis. Maecenas malesuada elit
                lectus felis, malesuada ultricies. Curabitur
                et ligula. Ut molestie a, ultricies porta urna.</p>
            <a href="#" target="_self" class="btn btn-primary">{{ _('read more') }}</a>
        </div>
    </div>
{% endblock %}