{% block categories_list %}
    <div class="module-content categories">
        <h2>{{ _('Wybierz interesujący Cię dział zasobów informacyjnych') }}</h2>

        <ul class="list">
            {% for c in h.dp_categories() %}
                <li class="box span3">
                    <a href="{{ h.url_for(controller='group', action='read', id=c['name']) }}" target="_self" class="category" title="{{ c.display_name }}">
                        <img class="category-img" src="{{ c.image_display_url }}" alt=""/>

                        <h3>{{ c.display_name }}</h3>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}