{#
Displays a single search performed.

search_item    - A search to display.
item_class     - The class name to use on the list item.

Example:

  {% snippet 'user/snippets/search_history_item.html', item=item, item_class=item_class %}

#}
{# {% set truncate = truncate or 180 %} #}

{% block search_history_item %}
  <li class="{{ item_class or "search_history-item" }}">
    {% block content %}
      <a href="{{item.display.url}}">"{{ item.display.q }}" {% if item.display.facets %}(
        {%- for (name, value) in item.display.facets.iteritems() -%}
          {{ h.get_facet_title(name) }}: {{ value }}
        {%- if not loop.last %}, {% endif -%}
        {# {{ h.get_facet_items_dict(name) }} needs c.search_facets #}
        {%- endfor -%}
        )
        {%- endif -%}
      </a>
    {% endblock %}
  </li>
{% endblock %}
