<section class="additional-info">
  <dl class="dl-horizontal list">

  {% block package_additional_info %}
    {% if pkg_dict.url %}
        <dt class="dataset-label">{{ _('Source') }}</dt>
        {% if h.is_url(pkg_dict.url) %}
          <dd class="dataset-details"
              property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</dd>
        {% else %}
          <dd class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</dd>
        {% endif %}
    {% endif %}

    {% if pkg_dict.author_email %}
        <dt class="dataset-label">{{ _("Author Email") }}</dt>
        <dd class="dataset-details"
            property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</dd>
    {% elif pkg_dict.author %}
        <dt class="dataset-label">{{ _("Author") }}</dt>
        <dd class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</dd>
    {% endif %}

    {% if pkg_dict.maintainer_email %}
        <dt class="dataset-label">{{ _('Maintainer Email') }}</dt>
        <dd class="dataset-details"
            property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</dd>
    {% elif pkg_dict.maintainer %}
        <dt class="dataset-label">{{ _('Maintainer') }}</dd>
        <dd class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</dd>
    {% endif %}

    {#
      {% if pkg_dict.version %}
        <dt class="dataset-label">{{ _("Version") }}</dt>
        <dd class="dataset-details">{{ pkg_dict.version }}</dd>
      {% endif %}
      #}

    {#
      {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
        <dt class="dataset-label">{{ _("State") }}</dt>
        <dd class="dataset-details">{{ _(pkg_dict.state) }}</dd>
      {% endif %}
      #}

    {% if pkg_dict.category %}
      <dt class="dataset-label">{{ _("Category") }}</dt>
      <dd class="dataset-details"><a
              href="{{ h.url_for('group_read', id=pkg_dict.category) }}">{{ h.dp_translate_facet(pkg_dict.category, 'groups') }}</a>
      </dd>
    {% endif %}

      <dt class="dataset-label">{{ _('Update frequency') }}</dt>
      <dd class="dataset-details">{{ h.dp_translate_facet(pkg_dict.update_frequency, 'update_frequency') }}</dd>

    {% if pkg_dict.metadata_modified %}
        <dt class="dataset-label">{{ _("Last Updated") }}</dt>
        <dd class="dataset-details">{{ h.render_datetime(pkg_dict.metadata_modified, with_hours=True) }}</dd>
    {% endif %}

    {% if pkg_dict.metadata_created %}
        <dt class="dataset-label">{{ _("Created") }}</dt>
        <dd class="dataset-details">{{ h.render_datetime(pkg_dict.metadata_created, with_hours=True) }}</dd>
    {% endif %}

    {% block extras scoped %}
      {% for extra in h.sorted_extras(pkg_dict.extras) %}
        {% set key, value = extra %}
          <dt class="dataset-label">{{ key|title }}</dt>
          <dd class="dataset-details">{{ value }}</dd>
      {% endfor %}
    {% endblock %}
    
    <dt class="dataset-label">{{ _("Views count") }}</dt>
	<dd class="dataset-details">{{ pkg_dict.tracking_summary.total }}</dd>
	
	{#
	<dt class="dataset-label">{{ _("Downloads count") }}</dt>
	<dd class="dataset-details">{{ pkg_dict.tracking_summary.total }}</dd>
	#}
    
  {% endblock %}
  </dl>
</section>