<h2>{% trans %}Restrictions on reuse of this dataset{% endtrans %}:</h2>

{% if h.dp_package_has_license_restrictions(pkg_dict) %}
  <span>{{ _("This dataset is considered public data and can be used under following restrictions") }}:</span>
  <ul>
    {% if pkg_dict.license_condition_source %}
      <li>{{ _('One should inform about the source of this data and the creation time of reused information as well') }}</li>
    {% endif %}

    {% if pkg_dict.license_condition_original %}
      <li>{{ _('One should publish a copy of originally accessed data when publishing reused information') }}</li>
    {% endif %}

    {% if pkg_dict.license_condition_modification %}
      <li>{{ _('One should inform about modifications to originally accessed information') }}</li>
    {% endif %}

    {% if pkg_dict.license_condition_responsibilities %}
      <li>{{ _('Restriction of data provider liability') }}: {{ pkg_dict.license_condition_responsibilities }}</li>
    {% endif %}

    {% if pkg_dict.license_condition_db_or_copyrighted %}
      <li>{{ _('Restrictions on databases and copyrighted material') }}: {{ pkg_dict.license_condition_db_or_copyrighted }}</li>
    {% endif %}
  </ul>

{%- else -%}

  <span>{{ _("This dataset is considered public data and can be used without any restrictions") }}.</span>

{%- endif %}