{% ckan_extends %}

{% block package_basic_fields_custom %}
  <div class="control-group">
    <label class="control-label" for="field-country_code">{{ _("Category") }}</label>

    <div class="controls">
      <select id="field-category" name="category">
        {% for category in h.dp_categories() %}
          <option value="{{ category.name }}"
                  {% if category.name in (data.get('category') or []) %}selected="selected"{% endif %}>{{ category.title }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% block package_basic_fields_license %}
    {# License is fixed to Open (Public Domain) #}
  {% endblock %}

{% endblock %}

{% block package_metadata_fields_visibility %}
  <div class="control-group">
    <label for="field-private" class="control-label">{{ _('Visibility') }}</label>

    <div class="controls">
      <select id="field-private" name="private">
        {% for option in [('False', _('Public')), ('True', _('Draft'))] %}
          <option value="{{ option[0] }}"
                  {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endblock %}