.dataset-info {
    display: none;
}

#content h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 32px;
}

#content .editdataset .dataset-result {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#content .editdataset .dataset-result > .module > .page-header {
    margin-left: 0;
    margin-right: 0;
    border: none;
    padding: 20px 15px;
}

.editdataset .dataset-result > .module > .page-header .nav-tabs {
    margin-bottom: 0;
    border: none;
}

.editdataset .dataset-result > .module > .page-header .nav-tabs li.active a {
    background-color: #157ABE;
    color: #FFFFFF;
}

.editdataset .dataset-result > .module > .page-header > .content_action {
    margin-right: 0;
    margin-top: 0;
}

.editdataset .dataset-result > .module > .module-content {
    margin-left: 15px;
    margin-right: 15px;
}

.editdataset .dataset-result > .module > .module-content .control-custom .checkbox.btn[class*=" icon-"] {
    margin-top: 4px;
}

.editdataset .dataset-result > .module > .module-content .control-custom .checkbox.btn[class*=" icon-"] span {
    display: none;
}

.editdataset .dataset-result > .module > .module-content .control-custom .checkbox.btn[class*=" icon-"]:before {
    background: none;
    margin-left: -1px;
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.editdataset .dataset-result > .module > .module-content .control-custom .checkbox.btn.icon-remove:before {
    content: "ï€";
}