.list {
    background: #ffffff;
    margin-top: 24px;
    margin-bottom: 0;
    padding: 0;
}

.module-content {
    padding: 0;
}

.module-narrow .module-content.empty {
    padding: 7px 15px;
    color: #757575;
}

.list .dataset-info {
    margin-bottom: 0;
}

.list .dataset-info [class*="span"] {
    margin-left: 0;
}

.list .dataset-info h1 {
    font-size: 43px;
    font-weight: bold;
    color: #4b77be;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1.1em;
}

.list .dataset-info p {
    font-size: 18px;
    font-weight: normal;
    color: #434343;
}

.list .dataset-info .compact p {
    font-size: 16px;
    margin-bottom: 5px;
}

.list .dataset-info .nums dl {
    width: 50%;
    float: left;
}

.list .dataset-info .follow_button a i {
    display: none;
}

.list .dataset-info .image {
    background-color: #157abe;
    margin: 10px 0;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    position: relative;
    display: none;
    float: right;
}

.list .dataset-info .image img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search-form {
    margin: 0;
    padding: 0;
    border: none;
}

.list .dataset-search {
    padding: 15px 25px;
    margin: 0 -25px;
    background-color: #157abe;
}

.search-form .search-input {
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.search-form .search-input.search-giant input {
    height: 50px;
    padding: 15px 70px 15px 15px;
    font-size: 20px;
    font-weight: normal;
    color: #060300;
}

.search-form .search-input.search-giant button i {
    font-size: 24px;
    width: 24px;
}

.search-form .search-input button[type="submit"] {
    background-color: #edf1f8;
    height: 50px;
    padding: 0 20px;
    margin: 0;
    top: 0;
    right: 0;
}

.search-form .search-input button i {
    color: #4b5764;
}

.wrapper {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ffffff;
}

.wrapper .dataset-filters {
    font-size: 14px;
    font-weight: normal;
    color: #1d1d1d;
}

.wrapper .dataset-filters h2 {
    font-size: 20px;
    font-weight: bold;
    color: #1d1d1d;
    padding: 50px 15px 0;
    margin: 0;
}

.wrapper .dataset-filters .module-heading {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: #1d1d1d;
    border-color: #d1d9e2;
    border-bottom-width: 0;
    padding: 20px 15px;
    margin: 0;
    background: none;
}

.wrapper .dataset-filters .read-more,
.wrapper .dataset-filters .read-less {
    position: absolute;
    top: 50%;
    right: 10px;
    text-decoration: none;

    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.wrapper .dataset-filters .read-more:before,
.wrapper .dataset-filters .read-less:before {
    font-size: 18px;
    font-weight: normal;
    color: #b2b2b2;
}

.wrapper .dataset-filters .read-more:before {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.wrapper .dataset-filters .read-less:before {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.wrapper .dataset-filters .read-more-button,
.wrapper .dataset-filters .read-less-button {
    font-size: 12px;
    font-weight: normal;
    line-height: 1em;
    margin-top: -20px;
    margin-bottom: -10px;
}

.wrapper .dataset-filters .nav-item,
.wrapper .dataset-filters .nav-aside li {
    padding: 0;
    border: 0;
}

.wrapper .dataset-filters .nav-item > a,
.wrapper .dataset-filters .nav-aside li a {
    margin: 0 -4px 0 0;
    padding-right: 35px;
    font-size: 14px;
    font-weight: normal;
    color: #1d1d1d;
    line-height: 1.1em;
}

.wrapper .dataset-filters .nav-item > a:hover,
.wrapper .dataset-filters .nav-aside li a:hover {
    background: #d1d9e2;
    color: #157abe;
}

.wrapper .dataset-filters .nav-item.active > a,
.wrapper .dataset-filters .nav-aside li.active a {
    background-color: #157abe;
    font-weight: bold;
    color: #ffffff;

}

.nav-item.active > a span, .nav-aside li.active a span {
    white-space: normal;
    overflow: visible;
    display: inline-block;
}

.wrapper .dataset-filters .nav-item.active > a:before,
.wrapper .dataset-filters .nav-aside li.active a:before {
    display: none;
}

.wrapper .dataset-filters .nav-item > a:hover:after,
.wrapper .dataset-filters .nav-aside li a:hover:after,
.wrapper .dataset-filters .nav-item.active > a:after,
.wrapper .dataset-filters .nav-item.active > a:hover:after,
.wrapper .dataset-filters .nav-aside li.active a:after,
.wrapper .dataset-filters .nav-aside li.active a:hover:after {
    font-family: 'ckan';
    font-size: 16px;
    font-weight: normal;
    background: none;
    right: 14px;
    margin-top: -9px;
}

.wrapper .dataset-filters .nav-item > a:hover:after,
.wrapper .dataset-filters .nav-aside li a:hover:after {
    color: #157abe;
    content: "\e900";
}

.wrapper .dataset-filters .nav-item.active > a:after,
.wrapper .dataset-filters .nav-item.active > a:hover:after,
.wrapper .dataset-filters .nav-aside li.active a:after,
.wrapper .dataset-filters .nav-aside li.active a:hover:after {
    color: #ffffff;
    content: "\e901";
}

.wrapper .dataset-result,
.wrapper .dataset-result [class*="span"] {
    margin-left: 0;
}

.wrapper .dataset-result .module {
    float: left;
    width: 100%;
    display: block;
}

.wrapper .dataset-result .module-content > .btn {
    margin-right: 5px;
}

.wrapper .dataset-result .module-content > .btn:first-child {
    margin-left: 30px;
}

.wrapper .dataset-result .results-total {
    font-size: 30px;
    font-weight: normal;
    color: #157abe;
    line-height: 1em;
    margin-top: 25px;
    margin-bottom: 5px;
}

.wrapper .dataset-result .control-order-by {
    margin-top: 14px;
    margin-right: -25px;
}

.wrapper .dataset-result .control-order-by label {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.wrapper .dataset-result .control-order-by select {
    font-size: 12px;
    font-weight: normal;
    color: #000000;
    background: #efefef;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.wrapper .dataset-result .page_primary_action {
    margin-top: 15px;
    margin-bottom: 0;
}

.wrapper .dataset-result .dataset-list {
    margin-top: 35px;
    width: 100%;
    float: left;
}

.wrapper .dataset-result .dataset-list li {
    border: none;
    border-left: 4px solid #4b77be;
    padding: 20px;
    color: #000000;
    line-height: 1.2em;
    float: left;
    display: inline;
    width: 100%;
}

.wrapper .dataset-result .dataset-list .dataset-content h3,
.wrapper .dataset-result .dataset-list .dataset-content h3 a {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.1em;
    color: #157abe;
}

.wrapper .dataset-result .dataset-list .dataset-content .notes {
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    line-height: 1.2em;
}

.wrapper .dataset-result .dataset-list .dataset-resources {
    float: left;
    width: 100%;
    margin-top: 15px;
}

.wrapper .dataset-result .dataset-list .dataset-resources li {
    border-left: none;
    border-right: 1px solid #4B77BE;
    float: left;
    width: auto;
    padding: 8px 16px;
}

.wrapper .dataset-result .dataset-list .dataset-resources li:first-child {
    padding-left: 0;
}

.wrapper .dataset-result .dataset-list .dataset-resources li:last-child {
    border-right: none;
}

.wrapper .dataset-result .dataset-list .dataset-resources li {
    background: none;
    font-size: 18px;
    font-weight: bold;
    color: #157abe;
}

.wrapper .dataset-result .pagination {
    width: 100%;
    float: left;
    border: 0;
}

.wrapper .dataset-result .pagination li a {
    font-size: 16px;
    font-weight: normal;
    color: #0d67a3;
    border: 0;
    padding: 12px 6px;
}

.wrapper .dataset-result .pagination li.active a {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #0d67a3;
    border: 0;
}

@media (min-width: 768px) {
    .module-content {
        padding: 0 25px;
    }

    .wrapper .dataset-result,
    .wrapper .dataset-filters {
        margin-left: 0;
        padding-bottom: 9999px;
        margin-bottom: -9999px;
    }

    .wrapper .dataset-filters {
        border-right: 4px solid #d1d9e2;
    }

    .list .dataset-search {
        padding: 15px 0;
        margin: 0;
    }

    .list .dataset-info {
        margin-bottom: 25px;
    }

    .list .dataset-info .image {
        display: block;
    }
}

@media (min-width: 1200px) {
    .wrapper .dataset-result .results-total {
        margin-top: 5px;
    }
}