.wrapper {
    margin: 0;
}

.organization .module-content {
    padding-left: 0;
    padding-right: 0;
}

.organization .page-header {
    background: none;
    border-bottom: none;
}

.organization .page-header h1 {
    color: #157ABE;
    font-size: 43px;
    font-weight: bold;
    float: left;
    line-height: 1.1em;
}

.organization .page-header .btn,
.organization .page-header .search-input {
    float: right;
    margin-top: 15px;
}

.organization .page-header .search-input {
    width: 100%;
    position: relative;
    padding: 2px 10px;

}

.organization .page-header .search-input input {
    padding: 6px 20px 6px 10px;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    margin: 0;
    width: 98%;
}

.organization .page-header .search-input .btn-search {
    position: absolute;
    display: block;
    height: 17px;
    width: 17px;
    padding: 0;
    top: 50%;
    right: 15px;
    background: none;
    border: none;
    color: #999999;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.organization .media-grid {
    margin: 0;
    background: none;
    border: none;
    padding: 0;
}

.organization .media-grid .media-item {
    width: 29.4%;
    min-width: 189px;
    min-height: 220px;
    margin: 15px 7px 0;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.organization .media-grid .media-item .image-handler {
    width: 100%;
    height: 115px;
    position: relative;
}

.organization .media-grid .media-item .image-handler .media-image {
    position: absolute;
    top: 50%;
    left: 50%;

    max-height: 115px;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.organization .media-grid .media-item h3 {
    color: #157ABE;
    line-height: 1em;
    margin: 10px 0 5px;
    word-break: normal;
}

.organization .media-grid .count {
    color: #434343;
    font-weight: normal;
}

.form-actions {
    background: none;
    border: 0;
}

@media (min-width: 768px) {
    .organization .page-header .search-input {
        width: auto;
    }

    .organization .page-header .search-input input {
        width: auto;
    }
}