<div role="main" class="hero">
  <div class="container">
    <div class="row">
      <div class="span6">
        {% snippet 'home/snippets/search.html' %}
      </div>
      <div class="span6">
        {% snippet 'home/snippets/promoted.html' %}
      </div>
    </div>
  </div>
</div>
<div role="main" class="categoriesBox">
  <div class="container">
    {% snippet "home/snippets/categories.html" %}
  </div>
</div>

{% if c.apps %}
  <div role="main" class="articlesBox">
    <div class="container">
      {% snippet "home/snippets/apps.html" %}
    </div>
  </div>
{% endif %}

{% if c.datasets %}
  <div role="main" class="datasetsBox">
    <div class="container">
      {% snippet "home/snippets/datasets.html" %}
    </div>
  </div>
{% endif %}

{% if h.dp_recent_articles() %}
  <div role="main" class="articlesBox">
    <div class="container">
      {% snippet "home/snippets/articles.html" %}
    </div>
  </div>
{% endif %}